.header {
    padding: 35px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    
    &__home {
        margin-right: 25px;
        img {
            max-width: 30px;
        }
    }
    &__project {
        img {
            max-width: 140px;
        }
    }
}

