
.back1 {
    background: url(../../assets/background/backgroundSprites.png);
}
.back2 {
    background: url(../../assets/background/backgroundMessage.png);
}
.back3 {
    background: url(../../assets/background/backgroundKeyMessage.png);
}

.body {
    // background: url(../../assets/background/backgroundSprites.png);

    // background: url(../../assets/background/backgroundMessage.png);

    background-size: 100% 100%;
    background-position: left;

    min-height: calc(100vh);

    display: flex;
    flex-direction: column;
    height: 100%;
}


.main {
    flex: 1 0 auto;
    padding: 0px 100px;
}
