
// .helppage {
//     position: relative;
//     left: -104px;
//     transition: 32s;
//     // div {
//     //     // transition: 2s;
//     //     position: relative;
      
//     //     // left: -1024px;
//     //     animation: swipe 3s alternate ;
//     // }


// }

.appBody {
    position: relative;
    flex-direction: row;
    &__homepage {
        width: 1024px;
        min-height: 100%;
        transition: 1s;
    }
    overflow: hidden;
}
.appBodyTrack {
    // min-height: 100%;
    // min-width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid black
   
}

// @keyframes swipe{
//     from{
//         // position: absolute;
//         // bottom: -60px;
//         // right: 320px;
//         // transform: scale(1);
//     }
//     to{
//         // position: absolute;
//         // translateX:(-100%) ;
//         left: -10241px;
//     }
// }

// .homepage:hover {
//     position: relative;
//     left: -1024px;

//     transition: 10s all ease;
// }

.homepage {
    // width: 100%; 
    // overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    img {
        float: right;
        max-width: 300px;
        padding-top:15px;
        // margin-left: 50px;
    }
    &__hello {
        margin-top: 50px;
        font-size: 40px;
        font-family: Tahoma, Verdana,sans-serif; 
    }

    &__text {
        font-size: 100px;
        // font-family: Tahoma, sans-serif !important;         
        font-weight: 100;
        align-items: center;

        letter-spacing: 8px; 
        line-height: 1.15;

    }
}

.sprites {
    &__pink1 {
        position: absolute;
        z-index: 1;
        top: 145px;
        right: 0px;
        img {
            min-width: 600px;
        }
    }
    &__bigBacteria {
        position: absolute;
        z-index: 1;
        img {
            width: 200px;
        }
        animation: bigBacteriaAnimation 9s infinite;
    }
}


@keyframes bigBacteriaAnimation{
    0%{
        bottom: -60px;
        right: 320px;
        transform: scale(1);

    }
    25%{
       transform: scale(1.2);

    }
    60% {
        transform: scale(1);
        bottom: -40px;
        right: 340px;
    }
    75% {
        transform: scale(1.2);
        bottom: -60px;
        right: 320px;

    }
    100% {
        bottom: -60px;
        right: 320px;
        transform: scale(1);
    }
}